.featured-products {
  display: flex;
  flex-flow: column;
  width: 100vw;
  align-items: center;
  padding: 30px 0px;
}

.featured-product-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 30px 0px;
}

.featured-product {
  display: flex;
  flex-flow: column;
  width: calc(100vw / 5);
  gap: 15px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}   

.featured-product:hover {
  transform: scale(0.95);
}

.featured-product img {
  height: 80%;
}

.featured-product-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
