.auth {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.auth-header, .auth-title, .auth-form, .auth-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    gap: 25px;
}

.auth-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;
}

.auth-title h3 {
    font-size: 24px;
    padding: 20px;
}

.auth-title p {
    font-size: 14px;
    padding: 2px;
}

.auth-form form{
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 5px;
}

.form-input-field {
    height: 30px;
}

.form-submit-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: var(--btn-color);
    color: white;
    margin-top: 10px;
    padding: 10px 5px;
    border-radius: 5px;
}

.auth-info {
    font-size: 12px;
}

