.discover {
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px 0px;
}

.discover-tab {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.discover-row {
  display: flex;
  gap: 20px;
}

.discover-item {
  background-image: url("../../assets/images/discover-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
  margin: 10px;
}

.discover-item-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: none;
  cursor: pointer;
  transition: background-color ease-in-out 100ms;
}

.discover-item-cover p {
  display: none;
}

.discover-item-cover:hover {
  background-color: rgba(33, 255, 25, 0.5);
  opacity: 1;
}

.discover-item-cover:hover > p {
  display: block;
  font-size: 24px;
  color: #fff;
}
