.product-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.product-detail {
  display: flex;
  width: 80vw;
}

.product-detail-image {
  padding: 30px;
}

.product-detail-image img {
  width: auto;
  height: 400px;
}

.product-detail-info {
  display: flex;
  flex-flow: column;
  padding: 20px;
  gap: 10px;
}

.product-detail-options-item p {
  font-size: 14px;
}

.product-detail-options-item {
  display: grid;
  align-items: center;
  width: 50%;
  padding: 10px 0px;
  grid-template-columns: 100px 1fr;
}

.product-detail-option-size {
  display: flex;
  gap: 5px;
}

.product-detail-option-size p {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.product-detail-option-size p:hover {
    background-color: black;
    color: #fff;
}

.product-detail-options-item select {
    all: unset;
    width: 20%;
    border-bottom: 1px solid var(--btn-color);
}

.product-detail-delivery-info {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.product-detail-delivery-info p {
    font-size: 12px;
}

.product-detail-buttons {
    display: flex;
    gap: 20px;
}

.product-detail-btn {
    all: unset;
    background-color: var(--btn-color);
    font-size: 14px;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.product-detail-btn-alt {
    all: unset;
    font-weight: 600;
    color: var(--btn-color);
    margin-left: 1.2rem;
    cursor: pointer;
}